.card-list {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.card {
  display: grid;
  padding: 1.5rem;
  height: 300px;
  max-width: 550px;
  border-radius: 20px;
  background-color: rgb(223, 229, 237);
  margin: 1.5rem;
  grid-template:
    "employerName" 2rem
    "cardtitle" 3.5rem
    "cardbrief" 6.9rem
    "cardinfo" 3rem
    / 4fr;
}

.card-title {
  grid-area: cardtitle;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.card-title:hover {
  text-decoration: underline;
}
.card-brief {
  grid-area: cardbrief;
  overflow: hidden;
  padding: 0.5rem;

  white-space: normal;
  text-overflow: ellipsis;
}
.card-info {
  grid-area: cardinfo;
  display: flex;
}
.card-info > p {
padding-left: 0.5rem;
}

.employer {
  grid-area: employerName;
  display: flex;
  align-self: center;
  padding: 0.5rem;
}