.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  padding: 1.5rem;
  height: 380px;
  max-width: 550px;
  border-radius: 20px;
  background-color: rgb(223, 229, 237);
  margin: 1.5rem;
  grid-template:
    "employerName" 2rem
    "cardtitle" 7rem
    "cardbrief" auto
    "cardinfo" 5rem
    / 4fr;
}

.card-title {
  grid-area: cardtitle;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.card-title:hover {
  text-decoration: underline;
}
.card-brief {
  grid-area: cardbrief;
  overflow: hidden;
  padding: 0.5rem;
  height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
}
.card-info {
  grid-area: cardinfo;
  display: flex;
}
.card-info > p {
  padding: 1rem;
}

.employer {
  grid-area: employerName;
  display: flex;
  align-self: center;
  padding: 0.5rem;
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .card {
    height: 300px;
    max-width: 600px;
    background-color: rgb(223, 229, 237);
    margin: 1rem;
    grid-template:
      "cardtitle employerName" auto
      "cardbrief employerName" auto
      "cardinfo employerName" auto
      / 4fr 1fr;
  }
  .card-info > p {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
  .employer {
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
  }
}
