.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: 1.5rem;
  height: 300px;
  width: 550px;
  border-radius: 20px;
  background-color: rgb(59, 41, 96);
  color: white;
  margin: 1.5rem;
}
.headline {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.favorite-star {
font-size: 24px;
}

.card-brief {
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 140px;
}
.card-info {
  display: flex;
}
.card-info > p {
  margin: 0.5rem;
}

.employer {
  align-self: center;
}
